<!-- Add you custom twig html here -->
{#DUH#}
<div id="container"></div>
<div id="mapContainer" class="mapContainer" >Kaart container</div>




{#<article data-title="verslavingszorg alcohol 2015" id="node-6934" class="map clearfix">#}
{#  <h3>Verslavingszorg alcohol 2015</h3>#}


{#  <div class="content">#}


{#    <!-- THEME DEBUG -->#}
{#    <!-- CALL: theme('field') -->#}
{#    <!-- FILE NAME SUGGESTIONS:#}
{#       * field--field-map-subtitle--map.tpl.php#}
{#       * field--map.tpl.php#}
{#       * field--field-map-subtitle.tpl.php#}
{#       * field--text.tpl.php#}
{#       x field.tpl.php#}
{#    -->#}
{#    <!-- BEGIN OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}
{#    <div class="field field-name-field-map-subtitle field-type-text field-label-hidden field-name-field-field">#}
{#      <div class="field-item even">Aantal episoden, per mo/vb-regio</div>#}
{#    </div>#}

{#    <!-- END OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}



{#    <!-- THEME DEBUG -->#}
{#    <!-- CALL: theme('field') -->#}
{#    <!-- FILE NAME SUGGESTIONS:#}
{#       * field--field-map-image--map.tpl.php#}
{#       * field--map.tpl.php#}
{#       * field--field-map-image.tpl.php#}
{#       x field--image.tpl.php#}
{#       * field.tpl.php#}
{#    -->#}
{#    <!-- BEGIN OUTPUT from 'sites/all/themes/rivm/templates/fields/field--image.tpl.php' -->#}

{#    <div class="field field-name-field-map-image field-type-image field-label-hidden field-name-field-field">#}


{#      <figure class="field-item even">#}
{#        <img src="http://vzinfo.docksal/sites/default/files/Kaarten/verslaving_alcohol2015.png" width="500" height="531" alt="Alcohol, verslavingszorg aantal behandelperioden per mo/vb-regio 2015" title="Alcohol, verslavingszorg aantal behandelperioden per mo/vb-regio 2015" />      <!--#}
{#        <figcaption>Alcohol, verslavingszorg aantal behandelperioden per mo/vb-regio 2015</figcaption>#}
{#      -->#}
{#      </figure>#}

{#    </div>#}
{#    <!-- END OUTPUT from 'sites/all/themes/rivm/templates/fields/field--image.tpl.php' -->#}



{#    <!-- THEME DEBUG -->#}
{#    <!-- CALL: theme('field') -->#}
{#    <!-- FILE NAME SUGGESTIONS:#}
{#       * field--field-map-detail-csv--map.tpl.php#}
{#       * field--map.tpl.php#}
{#       * field--field-map-detail-csv.tpl.php#}
{#       * field--file.tpl.php#}
{#       x field.tpl.php#}
{#    -->#}
{#    <!-- BEGIN OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}
{#    <div class="field field-name-field-map-detail-csv field-type-file field-label-hidden field-name-field-field">#}
{#      <div class="field-item even">#}
{#        <div class="chart-actions chart actions">#}
{#          <ul>#}
{#            <li><a class="show-table inactive" href="#show-table-6934" title="Toon tabelwaarden">Toon tabelwaarden</a></li>#}
{#            <li class="downloadoptions">#}
{#              <ul class="exports">#}
{#                <li><a class="csv-export detail-data" href="/sites/default/files/map/detail_data/qry003klik_0.csv">Download CSV file</a></li>#}
{#              </ul>#}
{#            </li>#}
{#          </ul>#}
{#        </div>#}
{#        <table class="tablefield">#}
{#          <caption>Verslavingszorg alcohol 2015</caption>#}
{#          <thead><tr><th scope="col">MOVB Regio</th><th scope="col">Absoluut aantal</th><th scope="col">Aantal per 10000</th> </tr></thead>#}
{#          <tbody>#}
{#          <tr data-regio="0" data-value="20"><td>Nederland</td><td>28.053</td><td>20</td> </tr>#}
{#          <tr data-regio="1" data-value="26"><td>Groningen</td><td>1.268</td><td>26</td> </tr>#}
{#          <tr data-regio="2" data-value="23"><td>Leeuwarden</td><td>1.241</td><td>23</td> </tr>#}
{#          <tr data-regio="3" data-value="23"><td>Emmen</td><td>325</td><td>23</td> </tr>#}
{#          <tr data-regio="4" data-value="23"><td>Assen</td><td>611</td><td>23</td> </tr>#}
{#          <tr data-regio="5" data-value="20"><td>Zwolle</td><td>874</td><td>20</td> </tr>#}
{#          <tr data-regio="6" data-value="24"><td>Almelo</td><td>442</td><td>24</td> </tr>#}
{#          <tr data-regio="7" data-value="27"><td>Enschede</td><td>886</td><td>27</td> </tr>#}
{#          <tr data-regio="8" data-value="32"><td>Deventer</td><td>619</td><td>32</td> </tr>#}
{#          <tr data-regio="9" data-value="28"><td>Apeldoorn</td><td>590</td><td>28</td> </tr>#}
{#          <tr data-regio="10" data-value="21"><td>Arnhem</td><td>716</td><td>21</td> </tr>#}
{#          <tr data-regio="11" data-value="13"><td>Ede</td><td>257</td><td>13</td> </tr>#}
{#          <tr data-regio="12" data-value="17"><td>Doetinchem</td><td>418</td><td>17</td> </tr>#}
{#          <tr data-regio="13" data-value="16"><td>Nijmegen</td><td>693</td><td>16</td> </tr>#}
{#          <tr data-regio="14" data-value="17"><td>Utrecht</td><td>1.234</td><td>17</td> </tr>#}
{#          <tr data-regio="15" data-value="18"><td>Amersfoort</td><td>553</td><td>18</td> </tr>#}
{#          <tr data-regio="16" data-value="20"><td>Almere</td><td>634</td><td>20</td> </tr>#}
{#          <tr data-regio="17" data-value="19"><td>Hilversum</td><td>392</td><td>19</td> </tr>#}
{#          <tr data-regio="18" data-value="22"><td>Den Helder</td><td>296</td><td>22</td> </tr>#}
{#          <tr data-regio="19" data-value="21"><td>Alkmaar</td><td>471</td><td>21</td> </tr>#}
{#          <tr data-regio="20" data-value="17"><td>Hoorn</td><td>288</td><td>17</td> </tr>#}
{#          <tr data-regio="21" data-value="21"><td>Haarlem</td><td>936</td><td>21</td> </tr>#}
{#          <tr data-regio="22" data-value="29"><td>Amsterdam</td><td>2.492</td><td>29</td> </tr>#}
{#          <tr data-regio="23" data-value="20"><td>Zaanstad</td><td>292</td><td>20</td> </tr>#}
{#          <tr data-regio="24" data-value="18"><td>Purmerend</td><td>233</td><td>18</td> </tr>#}
{#          <tr data-regio="25" data-value="20"><td>Leiden</td><td>903</td><td>20</td> </tr>#}
{#          <tr data-regio="26" data-value="21"><td>Den Haag</td><td>1.363</td><td>21</td> </tr>#}
{#          <tr data-regio="27" data-value="14"><td>Delft</td><td>330</td><td>14</td> </tr>#}
{#          <tr data-regio="28" data-value="15"><td>Gouda</td><td>273</td><td>15</td> </tr>#}
{#          <tr data-regio="29" data-value="26"><td>Rotterdam</td><td>1.960</td><td>26</td> </tr>#}
{#          <tr data-regio="30" data-value="25"><td>Vlaardingen</td><td>385</td><td>25</td> </tr>#}
{#          <tr data-regio="31" data-value="17"><td>Nissewaard</td><td>409</td><td>17</td> </tr>#}
{#          <tr data-regio="32" data-value="21"><td>Dordrecht</td><td>692</td><td>21</td> </tr>#}
{#          <tr data-regio="33" data-value="16"><td>Vlissingen</td><td>523</td><td>16</td> </tr>#}
{#          <tr data-regio="34" data-value="12"><td>Bergen op zoom</td><td>250</td><td>12</td> </tr>#}
{#          <tr data-regio="35" data-value="13"><td>Breda</td><td>509</td><td>13</td> </tr>#}
{#          <tr data-regio="36" data-value="16"><td>Tilburg</td><td>577</td><td>16</td> </tr>#}
{#          <tr data-regio="37" data-value="16"><td>Den Bosch</td><td>518</td><td>16</td> </tr>#}
{#          <tr data-regio="38" data-value="15"><td>Oss</td><td>342</td><td>15</td> </tr>#}
{#          <tr data-regio="39" data-value="13"><td>Eindhoven</td><td>595</td><td>13</td> </tr>#}
{#          <tr data-regio="40" data-value="13"><td>Helmond</td><td>230</td><td>13</td> </tr>#}
{#          <tr data-regio="41" data-value="18"><td>Venlo</td><td>742</td><td>18</td> </tr>#}
{#          <tr data-regio="42" data-value="16"><td>Heerlen</td><td>339</td><td>16</td> </tr>#}
{#          <tr data-regio="43" data-value="11"><td>Maastricht</td><td>353</td><td>11</td> </tr>#}
{#          </tbody>#}
{#        </table>#}
{#      </div>#}
{#    </div>#}

{#    <!-- END OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}



{#    <!-- THEME DEBUG -->#}
{#    <!-- CALL: theme('field') -->#}
{#    <!-- FILE NAME SUGGESTIONS:#}
{#       * field--field-map-sources--map.tpl.php#}
{#       * field--map.tpl.php#}
{#       * field--field-map-sources.tpl.php#}
{#       * field--text-long.tpl.php#}
{#       x field.tpl.php#}
{#    -->#}
{#    <!-- BEGIN OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}
{#    <div class="field field-name-field-map-sources field-type-text-long field-label-hidden field-name-field-field">#}
{#      <div class="field-item even"> <p>Bron: <a href="https://bronnen.zorggegevens.nl/Bron?naam=Landelijk-Alcohol-en-Drugs-Informatie-Systeem" target="_blank">Landelijk Alcohol en Drugs Informatie Systeem (LADIS)</a></p>#}
{#      </div>#}
{#    </div>#}

{#    <!-- END OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}



{#    <!-- THEME DEBUG -->#}
{#    <!-- CALL: theme('field') -->#}
{#    <!-- FILE NAME SUGGESTIONS:#}
{#       * field--field-map-explanation--map.tpl.php#}
{#       * field--map.tpl.php#}
{#       * field--field-map-explanation.tpl.php#}
{#       * field--text-long.tpl.php#}
{#       x field.tpl.php#}
{#    -->#}
{#    <!-- BEGIN OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}
{#    <div class="field field-name-field-map-explanation field-type-text-long field-label-hidden field-name-field-field">#}
{#      <div class="field-item even"> <p>Centrumgemeenten maatschappelijke opvang en verslavingsbeleid (mo/vb-regio's) zijn sinds 1994 verantwoordelijk voor de uitvoering van de maatschappelijke opvang en het verslavingsbeleid.</p>#}
{#      </div>#}
{#    </div>#}

{#    <!-- END OUTPUT from 'sites/all/themes/rivm/templates/fields/field.tpl.php' -->#}

{#    <a href="/node/6934/tabel" class="htmltable">View all detail data</a>  </div>#}



{#</article>#}
