{#
/**
 * @file doh.html.twig
 * Default theme implementation to present Doh entity data.
 *
 * This template is used when viewing Doh entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_doh()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('doh') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
